.cabal-sandbox/
compiled
*.vo
.*.aux
*#
*~
*.scm
*.glob
*.v.d
.coq-native
**/Makefile
src/racket/worker.rkt
/integer-tests.rkt
/parallel-test.rkt
/queens.rkt
/primes-naive.rkt
/primes-incremental.rkt
/primes-bind.rkt
